body{
	margin:0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	max-width: 100%;
}
.col-md-3{
	width: 30%;
	height: 300px;
	padding:0;
	margin-top: 10px;
	background-color:  #a569bd;
}
.col-md-6{
	width: 60%;
	height: 400px;
	padding: 0;
	margin: 10px 0 0 70px;
	background-image: url(../img/twitter-birds.jpg);
	box-sizing: border-box;

}

.col-md-4{
	width: 40%;
	height: 100px;
	padding: 0;
	margin-top: 10px;
	box-sizing: border-box;
}

.twitter__navbar{
	margin: 0;
	padding-bottom: 20px;
}	
	.twitter_icon{
		font-size: 45px;
		margin-left: 640px;
		color: #23A1F2;

	}

.twitter__section{
	height: 500px;
	background-color: #E6ECF0;
	padding: 15px;
}
	.twitter_row{
		margin: 0;
		padding: 0;
	}

	 /*Formulario */

.tweeter_perfil{
	width: 40%;
	border-radius: 70px;
	border: 3px solid #350769;
	margin: 20px 0 0 100px;
}

#tweet_textarea{
	width: 80%;
	margin: 35px 0 0 30px;
	padding: 3px;
	border-radius: 10px;
	border: 1px solid #350769;
}

#twitter_btn{
	width: 30%;
	background-color: #350769;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	margin: 20px 0 0 200px;
	
}	

	#twitter_btn:hover{
		background-color: #8B008B;
		color: #fff;
	}

/* Tweet posteado */

.tweet__container{
	width: 100%;
	margin: 30px 0 0 70px;

}

.tweet__post{
	width: 220%;
	background-color: #f4f6f7;
	padding: 15px 5px;
	margin-bottom: 10px;
	border-radius: 10px;
}

	.tweet_image{
		width: 15%;
		border-radius: 60px;
		border: 2px solid #350769;
		margin:20px 0 0 10px;
	}
	.tweet_twitter{
		width: 70%;
		background-color: #fff;
		border: 1px solid #350769;
		border-radius: 10px;
		padding: 5px 10px;
		margin: -50px 0 0 130px; 	
	}
	
	ul.tweet_select {
		list-style-type: none;
		padding: 0;		
	}

	.tweet_item{
		display: inline-block;
		font-size: 20px;
		margin: 10px 0 0 50px;
		color: #350769;
	}

i{
	margin-left: 100px;
}	
.likeable{
	
	color: #DDA0DD;
}

.likeable--red{
	color:tomato;
}